*{
    padding: 0;
    margin: 0;
}
body{
    background:url(/WhatsApp\ Image\ 2025-07-05\ at\ 21.11.02_c45bc06a.jpg);
    min-height: 800yh;
    background-size:100vw 100vh ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#playArea{
    background: linear-gradient(rgb(94, 226, 94),rgb(230, 230, 79));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
.snake{
background-color: purple;
}

.food{
background-color: yellow;
}
.head{
background-color: red;
}

#ScoreBox{
    position: absolute;
    top:10px;
    right:200px;
    font-size:39px;
    font-weight: bold;

}
#HighScoreBox{
    position: absolute;
    top:65px;
    right:162px;
    font-size:39px;
    font-weight: bold;

}